/******** Jeet **********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
.swiper-content .inner, .swiper-content .movie-pic, .swiper-content .movie-text {
  *zoom: 1; }
  .swiper-content .inner:before, .swiper-content .movie-pic:before, .swiper-content .movie-text:before, .swiper-content .inner:after, .swiper-content .movie-pic:after, .swiper-content .movie-text:after {
    content: '';
    display: table; }
  .swiper-content .inner:after, .swiper-content .movie-pic:after, .swiper-content .movie-text:after {
    clear: both; }

/*************** variables *************/
/******** components **********/
.swiper-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-carta.jpg");
  color: white; }

.swiper-content .inner {
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

.inner--gallery img {
  width: 100%; }

.swiper-content h1 {
  margin: 0 0 15px;
  font-size: 25px; }

.swiper-content .movie-pic {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%; }
  .swiper-content .movie-pic:last-child {
    margin-right: 0%; }

.swiper-content .movie-text {
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%; }
  .swiper-content .movie-text:last-child {
    margin-right: 0%; }

.swiper-nav {
  height: 95px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #34495E;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset; }

.swiper-nav .swiper-slide {
  width: 80px;
  height: 95px;
  text-align: center;
  position: relative; }

.swiper-nav .swiper-slide, .swiper-nav .angle {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.swiper-nav .angle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: -1px;
  opacity: 0; }

.swiper-nav .active-nav {
  background: #22313F;
  color: #e74c3c; }

.swiper-nav .active-nav .angle {
  opacity: 1; }

.swiper-nav .swiper-wrapper {
  margin: 0 auto; }

.swiper-nav img, .swiper-nav span {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #000; }

.swiper-nav span {
  font-size: 3rem;
  line-height: 1.7; }

.swiper-nav .title {
  margin: 0 5px;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/********** gallery ************/
/*************** reset *************/
a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #ccc; }

h2 {
  margin: 0; }

/********** viewpport ****************/
html {
  overflow-y: scroll;
  /* 1 */
  min-height: 100%;
  font-size: 75%; }

/********** font ****************/
h1, h2, h3 {
  font-family: 'PT Serif', serif;
  text-align: center;
  color: white; }

h1, h3 {
  font-weight: 700; }

h2 {
  font-weight: 400; }

/********* mobile *********/
body {
  background-image: url("../images/bg.jpg"); }

.tedhis__app {
  text-align: center;
  background-image: url("../images/bg.jpg");
  color: #fff;
  text-align: center;
  padding-top: 3rem; }

/********** bem shedule ************/
.nav {
  position: fixed;
  height: 100%;
  width: 250px;
  background-image: url("../images/bg.jpg"); }

.nav__logo {
  display: block;
  width: 50%;
  margin: 0 auto; }

.nav__menu {
  margin: 1rem 0;
  padding: 0 1rem; }
  .nav__menu a {
    display: block;
    padding: 0.5rem 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); }

.nav__menu--social span {
  font-size: 2rem;
  margin: 0 0.5rem 1rem 0.5rem; }

.nav__footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0.5rem; }

.nav__button {
  position: fixed;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid #fff;
  top: 0.5rem;
  left: 0.5rem;
  color: white;
  text-align: center; }

.nav__button--reservacion {
  font-size: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-color: green;
  width: 70%;
  height: auto;
  padding: 1rem 0.5rem;
  margin: 0 auto 1rem auto; }
  .nav__button--reservacion.fa:before {
    position: absolute;
    left: 1rem; }
